.overall{
    text-align: center;
    font-size: 1rem;
}

.box{
  width: 600px;
  height: 180px;
  margin-left: 20rem;
  border-radius: .2rem;
  border: 1px solid black;
}
input{
    border: .2px solid black;
    cursor: pointer;
    margin-left: 10rem;
    position: relative; 
    display: block;   
    margin-bottom: 0;

}

.btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 0;
}

.box-2{
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin-left: 20rem;
    text-align: left;
    font-size: .9rem;
    border-radius: .2rem;
    overflow: scroll;
}
ul{
    list-style: none;
}